# Dependencies
node_modules

# Build output (will be generated inside Docker)
dist
build

# Logs
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Git
.git
.gitignore

# Editor / OS files
.vscode
.idea
.DS_Store