@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #747bff;
  }
}
